.button {
    text-align: center;
    max-width: 220px;
    margin: 10px auto;

    margin: 0 auto !important;
    border-radius: 0;
    width: 100%;
    display: block;
    float: none !important;
    border: none;

    background-color: #ec1c24;
    color: #fff;
    font-family: "roboto", sans-serif;
    font-size: 12px;
    padding: 14px 12px;
    outline: none;
    text-transform: uppercase;
    font-weight: 500;
}
