html, body {
    width:auto;
    height:auto;
}

body {
    font-family: Roboto, sans-serif;
    width: 100%;
    font-size: 14px;
    margin: 0px;
    padding: 0px 0px 10px 0px;
    height: auto !important;
}

#talk-embed-stream-container {
    font-family: Roboto, sans-serif !important;
    padding: 4px;
}

.talk-plugin-commentbox-button {
    background-color: #ec1c24;
    color: #fff;
}

.hidden  {
    visibility: hidden;
    display: none;
}

.Stream__tabContainer___2trkn {
    min-height: auto;
    padding-bottom: 10px;
}

.hide-reply .talk-plugin-replies-reply-button {
    display: none;
}
