html, body {
    width:auto;
    height:auto;
}

body {
    font-family: Roboto, sans-serif;
    height: auto !important;
    padding: 0px;
}

#talk-embed-stream-container {
    font-family: Roboto, sans-serif !important;
}

.talk-plugin-commentbox-button {
    background-color: #ec1c24;
    color: #fff;
}
